{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    
    <br><br>
    
    <p>Nadpisany widok - jesteś zalogowany</p>
    <a href="">Stwórz klase</a><br>
    <a>Załóż konto ucznia</a><br>
    <a>Stwórz przedmiot</a><br>
    <a>Dodaj przedmiot do klasy</a><br>
    <a>Dodaj ucznia do klasy</a><br>
        
</div>
