{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    
    <br><br>
    
    <p>Nadpisany widok - jesteś zalogowany</p>
    <a href="/teacher/addClass">Stwórz klase</a><br>
    <a href="/register/">Załóż konto ucznia</a><br>
    <a href="/teacher/addSubject">Stwórz przedmiot</a><br>
    <a>Dodaj przedmiot do klasy</a><br>
    <a>Dodaj ucznia do klasy</a><br>
        
</div>
